* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

h1 {
  margin: 0; 
  padding: 0 20px; 
  text-align: center; 
  flex-grow: 1; 
}

.image-left, .image-right {
  width: 100px; 
  height: auto;
}

.container {
  display: flex;
  gap: 20px;
}
.left-panel {
  width: 60%;
  
}

.editor-container {
  display: flex;
  /* position: relative; */
  width: 100%;
  /* max-width: 600px; */
  /* max-height: 500px;
  overflow-y: auto; */
}
.line-numbers {
  background-color: #f0f0f0;
  color: #888;
  padding: 10px;
  text-align: right;
  font-family: monospace;
  white-space: nowrap;
  width: 50px;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box; 
}

.container-code{
  position: relative;
  width: 100%;
  /* max-height: 300px; */
  /* overflow-y: auto; */
  /* max-height: 500px; */
}

.codeText{
  position: absolute;
  padding: 10px;
  /* max-height: 300px; */
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 13px;
  /* line-height: 1.5; */
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
  background-color: white;
  pointer-events: none; /* Permitir escribir solo en el textarea */
  z-index: 0;
}
#codeArea {
  position: absolute;
  width: 100%;
  height: 100%;
  /* max-height: 300px; */
  padding: 10px;
  font-family: monospace;
  font-size: 13px;
  border: none !important;
  resize: none;
  box-sizing: border-box;
  background: transparent;
  color: transparent; 
  caret-color: black; 
  z-index: 3;
  overflow: hidden;
}

#codeArea:focus {
  outline: none; /* Quita el borde cuando se selecciona */
  border-color: transparent; /* Si también quieres quitar el color del borde */
}

/* Clase para las palabras resaltadas */
.highlighted-word {
  color: dodgerblue;
}

.right-panel {
  width: 40%;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}

#ErrorArea {
  width: 100%;
  height: 200px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  width: 33%;
  border: 1px solid #ddd;
}

thead th {
  background-color: #8e44ad;
  color: white;
  text-align: center;
}

tbody td {
  background-color: #fff;
  text-align: left;
}
.table-container {
  min-height: 480px;
  overflow-y: auto;
}

.buttons-nav {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.buttons-nav button {
  flex: 1;
  padding: 10px;
  background-color: #37353a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}


.buttons button {
  flex: 1;
  padding: 10px;
  background-color: #d44e10;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #d4c32a;
}

/**/
.menu-nav {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: #37353a; /* Fondo oscuro para el botón principal */
  color: white; /* Texto blanco para contraste */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #d4c32a; /* Cambia el color al pasar el cursor */
}

.menu-content {
  display: none;
  position: absolute;
  top: 100%; /* Para que aparezca justo debajo del botón */
  left: 0;
  background-color: white; /* Fondo blanco para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-content button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: white;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: black;
}

.menu-content button:hover {
  background-color: #d3d3d3;
}

.menu-nav:hover .menu-content {
  display: block;
}

